.AllProfiles{
      background-image: url("/img/Background/pexels-photo-318378.jpeg");
      height: 100%; 
    width: 100%;
  /*  background-position: 30% 20%; */
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}
.card{
    box-shadow: 5px 5px 8px #fff;
    border: 1px solid red;
    background-color: rgba(230, 230, 250, 0.68);
    width: 47%;
    font-family: myFirstFont;
    color: black;
    padding: 10px;
    float: left;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 13px;
    height: 320px;
}
input{
    margin-right: 15px;
}


.filter-div{
    margin-left: 7px;
    margin-top: -483px;
    border: 1px solid blue;
    display: inline-block;
     width: 200px;
    border-radius: 10px;
    background-color: rgba(230, 230, 250, 0.68);
}

#CardOfUser{
    margin-left: 12px;
    margin-top: 79px;
    width: 77%;
    padding-left: 10px;
    border-left-width: 1px;
    font-size: 20px;
    float: right;
}

.gender{
    margin-left: 15px;
    border-radius: 10px;
}
.select{
    margin-left: 26px;
    width: 145px;
    height: 29px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.filter-div{
       margin: 15px;
   margin-top: 95px;
    border: 1px solid white;
    width: 250px;
    padding-bottom: 13px;
    padding-left: 14px;
    border-radius: 10px;
    background-color: rgba(230, 230, 250, 0.68);
}
label{
    color: black;
}
h3{
    margin-left: 55px;
      color: red;
}
.select1{
    margin-left: 1px;
    width: 145px;
    height: 29px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.input{
    margin-left: 31px;
    width: 145px;
    height: 29px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(169,169,169)
}
button{
    margin-top: 14px;
    border-radius: 4px;
}
.GoBack{
    margin-top: 49px;
    margin-top: 35px;
    margin-left: 40%;
    width: 200px;
    height: 38px;
    font-size: 18px;
    border-radius: 4px;
    width: 17%;
    height: 38px;
    font-size: 18px;
    border-radius: 4px;
}
.age{
    width: 67px;
    height: 29px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.leftAge{
    margin-left: 30px;
}
.btn-default:hover{
background-color: #e7e7e7;
}
.Sherch{
    margin-top: 81px;
    margin-left: 2%;
    border-radius: 2px;
    color: red;
    font-weight: bold;
}
.eye{
    margin-left: 27px;
}
.row{
      margin-left:150px;
}
    .col-sm-4{
     font-size: 28px;
    width: 668px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px grey;
margin-top: -347px;
    background-color: rgba(230, 230, 250, 0.68);
        margin-left: 282px;
}
img{
       width: 334px;
    height: 311px;
}
.btn-default {
        margin-left: 25%;
        /* float: left;
    /* margin-left: 80px; */
    /* border-radius: 2px;
    color: palevioletred;
    font-weight: bold; */
}
.viewProfile{
     margin-left: 39%;
    margin-top: -25%;
    /* margin-right: 22%; */
    font-size: 27px;
}
    .PublicProfile{
    margin-top: 6%;
    height: 550px;
    box-shadow: 5px 5px 8px #888888;
    border: 1px solid white;
    width: 100%;
    background-color: rgba(230, 230, 250, 0.68);
    }
.view{
        margin-left: 100px;
     display: -webkit-inline-box;
}
    p{
    text-align: center;
    font-size: 40px;
}
.btn-primary{
    margin-left: -6%;
    color: red;
    border: 1px;
    background-color: white;
}
.glyphicon-heart
{
    color:  red;
}
.Search{
    /*margin-top: 81px; */
    margin-left: 48px;
    border-radius: 2px;
    color: red;
    font-weight: bold;
}